.active {
	transition: 0.3s all;
	/*transform: translateY(0px);*/
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}

.closed {
	transition: 0.5s all;
	opacity: 0;
	width: 1px;
	height: 1px;
	/*transform: translateY(-1280px);*/
}
