body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 565px) {
	.col.col-xxl-8.col-xl-8.col-lg-7.col-md-8.col-sm-7.col-12 {
		text-align: center !important;
	}
}

div#accordionExample {
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

input.form-control {
	width: 15em;
}

img.preview {
	height: 300px;
	width: 200px;
	border-radius: 0.25rem;
}

.description {
	overflow: auto;
	height: 200px;
}

.media-player {
	display: flex;
	justify-content: center;
}

.media-source {
	width: 100%;
	height: auto;
}

@media (min-width: 1024px) {
	.media-source {
		width: 70%;
		height: auto;
	}
}

.preview-schedule {
	height: 200px;
	width: 140px;
	border-radius: 0.25rem;
}

.preview-schedule-block {
	width: 140px;
}